a {
padding: 10px;
color: var(--app-brand-primary-color);
text-decoration: none;
border: 1px solid var(--app-brand-primary-color);
border-radius: 4px;
}
a.-st-active {
background-color: var(--app-on-surface-color);
}
